@import 'styles/variables';

.App {
  min-height: 100vh;
  color: $text-color;
  font-family: $font-family;
  background-color: $background-color;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}
