@import 'src/variables';

.contact-card {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  border: 1px solid #e1e5e8;
  gap: 20px;

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);

    h2 {
      color: $secondary-color;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin: 0;
    color: $primary-color;
    font-weight: 600;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: #000000;

    strong {
      color: #4e4c4c;
      font-weight: 600;
    }
  }
}
