@import 'src/styles/variables';

.contact-form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 500;
  }

  input {
    border: 1px solid #ccc;
    color: $text-color;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 14px;

    &:focus {
      border-color: $secondary-color;
      outline: none;
    }
  }

  .error-message {
    color: $error-color;
    margin-top: 4px;
  }
}
